@import '../../../assets/scss/_partial.scss';
#teasers{
  width: 100%;
  @include flex(row, center, center);

  background: $ks-green;

  .teasers{
    width: 1200px;
    @include flex(row, center, flex-start);
    flex-wrap: wrap;

    @media(max-width: 1200px){
      width: 100%;
      justify-content: space-around;
    }
    @media(max-width: 890px){
      width: 599px;
    }
    @media(max-width: 599px){
      width: 100%;
    }

    &-point{
      width: 200px;
      margin-right: 50px;
      margin-left: 50px;
      padding-top: 25px;
      padding-bottom: 25px;

      @include flex(column, center, center);

      @media(max-width: 1200px){
        margin-right: 0;
        margin-left: 0;
      }

      &-title{
        height: 27px;
        //width: 195px;
        margin-top: 15px;
        padding-top: 1px;
        padding-right: 10px;
        padding-left: 10px;

        font-family: $font;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        //text-align: center;

        color: #FFFFFF;
        background: #FFBB00;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;

        @media(max-width: 475px){
          height: 24px;
          font-size: 17px;
          padding-right: 7px;
          padding-left: 7px;
        }
      }
      &-text{
        margin-top: 10px;
        font-family: $font;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        text-align: center;

        color: #FFFFFF;
        text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        @media(max-width: 475px){
          font-size: 14px;
        }
      }
      &-icon{
        height: 90px;
        @media(max-width: 475px){
          height: 70px;
        }
      }
    }
  }
}